
name: CI

'on':
    pull_request:
    push:
        branches:
          - main

env:
    UBSAN_OPTIONS: print_stacktrace=1
    ASAN_OPTIONS: detect_odr_violation=2

jobs:
    posix:
        strategy:
            fail-fast: false
            matrix:
                include:
                  - cmake-flags: >-
                        -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang
                        -DUSERVER_FEATURE_MYSQL=1
                        -DUSERVER_SANITIZE="ub addr"
                        -DCMAKE_BUILD_TYPE=Debug
                        -DUSERVER_NAMESPACE=userver_ns
                        -DUSERVER_NAMESPACE_BEGIN="namespace userver_ns { inline namespace
                        v1 {"
                        -DUSERVER_NAMESPACE_END="}}"
                        -DUSERVER_PG_SERVER_INCLUDE_DIR=/usr/include/postgresql/15/server
                        -DUSERVER_PG_SERVER_LIBRARY_DIR=/usr/lib/postgresql/15/lib
                    os: ubuntu-22.04
                    info: clang-14 + debug + sanitize addr+ub
                    tests-flags: ''
        name: '${{matrix.os}}: ${{matrix.info}}'
        runs-on: ${{matrix.os}}

        steps:
          - uses: actions/checkout@v3
            with:
                fetch-depth: 0

          - name: Install packages
            run: |
                cd deli-auth
                # Instructions from https://clickhouse.com/docs/en/getting-started/install/
                sudo apt-get install -y apt-transport-https ca-certificates dirmngr
                sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 8919F6BD2B48D754
                echo "deb https://packages.clickhouse.com/deb stable main" | sudo tee /etc/apt/sources.list.d/clickhouse.list
                wget https://downloads.mariadb.com/MariaDB/mariadb_repo_setup
                chmod +x mariadb_repo_setup
                sudo ./mariadb_repo_setup
                sudo apt update
                sudo apt install --allow-downgrades -y clickhouse-common-static libmariadb-dev ccache cmake git libbenchmark-dev libboost-filesystem1.74-dev libboost-iostreams1.74-dev libboost-locale1.74-dev libboost-program-options1.74-dev libboost-regex1.74-dev libboost1.74-dev libbson-dev libc-ares-dev libcctz-dev libcrypto++-dev libcurl4-openssl-dev libev-dev libfmt-dev libgmock-dev libgrpc-dev libgrpc++-dev libgrpc++1 libgtest-dev libhiredis-dev libhttp-parser-dev libjemalloc-dev libkrb5-dev libldap2-dev libmongoc-dev libnghttp2-dev libpq-dev libprotoc-dev libspdlog-dev libssl-dev libyaml-cpp-dev protobuf-compiler-grpc python3-dev python3-jinja2 python3-protobuf python3-virtualenv python3-voluptuous redis-server zlib1g-dev
                # GH Ubuntu image has libpq version 15+ from pg's repo that is API incompatible with postgresql-14.
                sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7FCC7D46ACCC4CF8
                echo "deb https://apt-archive.postgresql.org/pub/repos/apt jammy-pgdg-archive main" | sudo tee /etc/apt/sources.list.d/pgdg.list
                sudo apt update
                sudo apt install -y postgresql-15 postgresql-client-15 postgresql-server-dev-15
          - name: Run tests (auth)
            run: |
                cd deli-auth
                make test-debug
